<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Rodec Conseils{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('themes/css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="bg">
            {{ render(controller('AppBundle:Default:header')) }}
            {% block body %}{% endblock %}
        </div>
        <aside>
            <div class="container_24">
                <div class="wrapper">
                    <article class="grid_16">
                        <h4>Our Main Business Services</h4>
                        <div class="wrapper">
                            <article class="grid_4 alpha">
                                <ul>
                                    <li><a href="more.html">Research Center</a></li>
                                    <li><a href="more.html">Online Banking</a></li>
                                    <li><a href="more.html">Financial Services</a></li>
                                    <li><a href="more.html">Client Network Solutions</a></li>
                                    <li><a href="more.html">Business Help</a></li>
                                </ul>
                            </article>
                            <article class="grid_4 prefix_1">
                                <ul>
                                    <li><a href="more.html">Solutions &amp; Training</a></li>
                                    <li><a href="more.html">Affiliate Program</a></li>
                                    <li><a href="more.html">Production</a></li>
                                    <li><a href="more.html">Risk Management</a></li>
                                    <li><a href="more.html">Consultation</a></li>
                                </ul>
                            </article>
                            <article class="grid_4">
                                <ul>
                                    <li><a href="more.html">Organizational Change</a></li>
                                    <li><a href="more.html">Program Management</a></li>
                                    <li><a href="more.html">Market Research</a></li>
                                    <li><a href="more.html">The Best Strategies</a></li>
                                    <li><a href="more.html">Information technology</a></li>
                                </ul>
                            </article>
                        </div>
                    </article>
                    <article class="grid_8">
                        <blockquote class="quotes">
                            <h4>Success Stories</h4>
                            Parturient amet montes nascetur clus mus duim fusce feugiat alesda morbi nuncodio, gravida
                            cursusnec...
                        </blockquote>
                    </article>
                </div>
            </div>
        </aside>
        <footer>
            <div class="fright">More <a rel="nofollow" href="http://www.templatemonster.com/category.php?category=0&type=1"
                                        target="_blank"> at TemplateMonster.com</a></div>
            Consulting © 2012 &nbsp; &nbsp;| &nbsp; &nbsp;<a href="index-6.html">Privacy Policy</a>
        </footer>
        {% block javascripts %}
            <script src="themes/js/jquery-1.6.4.min.js"></script>
            <script src="themes/js/cufon-yui.js"></script>
            <script src="themes/js/Franklin_Gothic_Medium_400.font.js"></script>
            <script src="themes/js/cufon-replace.js"></script>
            <script src="themes/js/script.js"></script>
        {% endblock %}
    </body>
</html>
