<div class="block-client">
    <a class="btn btn-default btn-block" href="{{ lien.dataValue }}" target="_blank">Mon Espace Client</a>
</div>
<div class="block-newsletter">
    <p>Newsletter</p>
    <form method="post" action="{{ path('homepage') }}">
        <div class="form-group">
            {{ form_widget(form.email) }}
        </div>
        {{ form_widget(form._token) }}
        <button class="btn btn-default btn-block" type="submit">M'inscrire</button>
    </form>
</div>