<header>
    <div class="main">
        <h1>
            <a href="index.html">Consulting</a>
        </h1>
        <nav>
            <ul class="sf-menu">
                <li class="current">
                    <a href="index.html">home</a>
                    <ul>
                        <li><a href="more.html">Who We Are</a></li>
                        <li><a href="more.html">News</a></li>
                        <li><a href="more.html">Contacts</a></li>
                    </ul>
                </li>
                <li><a href="index-1.html">About us</a></li>
                <li><a href="index-2.html">Services</a></li>
                <li><a href="index-3.html">Solutions</a></li>
                <li><a href="index-4.html">Support</a></li>
                <li><a href="index-5.html">Contacts</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
        <div class="shadow">
            <div class="main-img"><img src="themes/images/main-img.jpg" alt=""></div>
            <ul class="links">
                <li><a href="more.html"><img src="themes/images/page1-icon1.png" alt=""><span>Worldwide Business Experience You Can Trust</span></a>
                </li>
                <li><a href="more.html"><img src="themes/images/page1-icon2.png" alt=""><span>Personal Strategy for Your Business Growth</span></a>
                </li>
                <li><a href="more.html"><img src="themes/images/page1-icon3.png" alt=""><span>We'll Help Your Time Work for Your Money</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>