<header>
    <div class="main">
        <h1>
            <a href="{{ path('homepage') }}">Consulting</a>
        </h1>
        <nav>
            <ul class="sf-menu">
                {% for node in nodes %}
                    <li>
                        <a href="">{{ node.title }}</a>
                        {% if node.nodeChilds|length > 0 %}
                            <ul>
                                {% for nodeChild in node.nodeChilds %}
                                    <li><a href="">{{ nodeChild.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</header>