<header>
    <div class="main">
        <h1>
            <a href="index.html">Consulting</a>
        </h1>
        <nav>
            <ul class="sf-menu">
                {% for node in nodes %}
                    <li>
                        <a href="">{{ node.title }}</a>
                        {% if node.nodeChilds|length > 0 %}
                            <ul>
                                {% for nodeChild in node.nodeChilds %}
                                    <li><a href="">{{ nodeChild.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="clear"></div>
        <div class="shadow">
            <div class="main-img"><img src="themes/images/main-img.jpg" alt=""></div>
            <ul class="links">
                <li><a href="more.html"><img src="themes/images/page1-icon1.png" alt=""><span>Worldwide Business Experience You Can Trust</span></a>
                </li>
                <li><a href="more.html"><img src="themes/images/page1-icon2.png" alt=""><span>Personal Strategy for Your Business Growth</span></a>
                </li>
                <li><a href="more.html"><img src="themes/images/page1-icon3.png" alt=""><span>We'll Help Your Time Work for Your Money</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>