{% extends 'base.html.twig' %}

{% block body %}
    <section id="content">
        <div class="container_24">
            <div class="wrapper">
                <article class="grid_7 suffix_1">
                    <h3>Company News</h3>
                    <div class="wrapper indent-bot">
                        <figure class="img-indent2"><a class="lightbox-image hover" data-gal="prettyPhoto[1]"
                                                       title="" href="themes/images/page1-img1-big.jpg"><img
                                        src="themes/images/page1-img1.jpg" alt=""></a></figure>
                        <div class="extra-wrap">
                            <time datetime="2011-04-25"><a href="more.html">[25-04-2011]</a></time>
                            Parturient amet montes nascetur ridiculus sitduim fusce feugat alesda odio morbi
                            nuncodio.
                        </div>
                    </div>
                    <div class="wrapper indent-bot">
                        <figure class="img-indent2"><a class="lightbox-image hover" data-gal="prettyPhoto[1]"
                                                       title="" href="themes/images/page1-img2-big.jpg"><img
                                        src="themes/images/page1-img2.jpg" alt=""></a></figure>
                        <div class="extra-wrap">
                            <time datetime="2011-04-20"><a href="more.html">[20-04-2011]</a></time>
                            Parturient amet montes nascetur ridiculus sitduim fusce feugat alesda odio morbi
                            nuncodio.
                        </div>
                    </div>
                    <div class="wrapper indent-bot">
                        <figure class="img-indent2"><a class="lightbox-image hover" data-gal="prettyPhoto[1]"
                                                       title="" href="themes/images/page1-img3-big.jpg"><img
                                        src="themes/images/page1-img3.jpg" alt=""></a></figure>
                        <div class="extra-wrap">
                            <time datetime="2011-04-15"><a href="more.html">[15-04-2011]</a></time>
                            Parturient amet montes nascetur ridiculus sitduim fusce feugat alesda odio morbi
                            nuncodio.
                        </div>
                    </div>
                    <a class="button" href="more.html">More News</a>
                </article>
                <article class="grid_7 suffix_1">
                    <h3>Who We Are?</h3>
                    <figure class="p2"><a class="lightbox-image hover" data-gal="prettyPhoto" title=""
                                          href="themes/images/page1-img4-big.jpg"><img src="themes/images/page1-img4.jpg" alt=""></a>
                    </figure>
                    <p>Parturient amet montes nascetur ridiculus mus duim fusce feugiat alesda odio morbi nuncodio,
                        gravida cursusnec, luctus loremnas tristique orci acsem aenan auctor wis duis ultricies.</p>
                    <p>Donec accumsan malesuada orci. Donec situm amet eros. Lorem ipsum dolor consectetuer
                        adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Utellus dolor,
                        dapibus eget, elementum velcursus eleifend.</p>
                    <a class="button" href="more.html">Read More</a>
                </article>
                <article class="grid_8">
                    <h3>Why Choose Us</h3>
                    <div class="wrapper p2">
                        <strong class="dropcap">1</strong>
                        <div class="extra-wrap">
                            <h6 class="p1">Social Media Strategy </h6>
                            Partuent amet montes nascetur ridius musduim fusce feugiat alesda odio morbi nuncodio
                            <a href="more.html">&hellip;</a>
                        </div>
                    </div>
                    <div class="wrapper p2">
                        <strong class="dropcap">2</strong>
                        <div class="extra-wrap">
                            <h6 class="p1">Providing Leading Services</h6>
                            Montes nascetur ridius musduim fusce feugiat alesda odio morbi nuncodio gravida
                            cursusnec loremnas
                            <a href="more.html">&hellip;</a>
                        </div>
                    </div>
                    <div class="wrapper p2">
                        <strong class="dropcap">3</strong>
                        <div class="extra-wrap">
                            <h6 class="p1">Providing the best solutions</h6>
                            Gravida cursusnec, luctus loremnas tristique orci acsem aenan auctor wis duis ultricies
                            <a href="more.html">&hellip;</a>
                        </div>
                    </div>
                    <div class="wrapper">
                        <strong class="dropcap">4</strong>
                        <div class="extra-wrap">
                            <h6 class="p1">World of ideas</h6>
                            Donec accumsan malesuada orci. Amet situmamet eros. Lorem ipsum dolor amet
                            <a href="more.html">&hellip;</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
