*+html{overflow:auto;}
.layouts-nav li a,dl.def-list dt span,#constuction-box,#intro-box,.bg,.box-404 .blue{behavior:url(js/PIE.htc)}
.bg{box-shadow:-9px 0 9px rgba(0,0,0,.4)}
#text_slider div{background:none !important}
#advanced ul li.trigger_adv > span,dl#accordion dt,.dropcap,.cs-buttons a,input[type="text"],input[type=password],textarea,.shadow{behavior:url(js/PIE.htc);position:relative}
div.caption{background:url(../images/content-texture.jpg);}
.kwicks li{filter:alpha(opacity=50)}
.kwicks li.active{filter:alpha(opacity=100)}
.sf-menu span{filter:alpha(opacity=20)}
#coin-slider .banner{background:url(../images/banner-bg.jpg) 0 91px no-repeat;}
.jcarousel-next-vertical span:first-child+span,.jcarousel-prev-vertical span:first-child+span{filter:alpha(opacity=0)}